
.bar{
    width: 100px;
    height: 2px;
    background-color: black;
    margin-top: -20px;
    margin-left: 40px;
}
/* Head */
.home-menu{
    background-image: url(./imge/dodung.jpg);
    background-size: 100% 100%;
    height: 300px;
    background-repeat: no-repeat;
    position: relative;
}
.home-menu .title{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-left: 50px;
}
.home-menu h2{
    margin-left: 150px;
    cursor: pointer;
}
.home-menu h2:hover{
    color:brown;
}
.home-menu .link li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
.home-menu .link{
    text-align: center;
    font-size: 20px;
    color:brown;
}
.home-menu .link a{
    text-decoration: none;
    color:brown;
}
.home-menu .link .hover a:hover{
    color: darkgreen;
}
/* Danh má»¥c */
.cate .header h2{
    margin-left: 40px;
}
.cate .header {
    background-color: lightsalmon;
    width: 147px;
    border: none;
    padding-bottom: 10px;
    padding-right: 30px;
    transform: skew(20deg);
    margin-left: 50px;
}
.cate .list li{
    list-style-type: none;
    font-size: 20px;
}
.cate .list a{
    text-decoration: none;
    color: brown;
}
.cate .list{
    border: 1px solid gray;

    margin-top: 20px;
}
.cate .list ul{
    margin-left:-30px;
}

.mid .cate{
    margin-left: 500px;
    width: 300px;
}

.mid .search{
    margin-left: 150px;
}

.mid .right .prices{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.mid .right .prices .vo{
    border: 1px solid burlywood;
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px 5px 5px;
    height: 370px;
    width: 230px;
    text-align: center;
}
.mid .cate a:hover{
    color:darkgreen;
}
.Cart{
    border: 1px solid grey;
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    background-color: #ddd;
    padding: 12px 0px 12px 20px;
    overflow-y:scroll ;
    right: -100%;
}
.cart{
    width: 50%;
    text-align: center;
}
.cart thead th{
    padding: 0px 30px 0px 30px;
}
button{
    padding: 10px;
    background-color: white;

    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}
.bton{
    display: flex;
    justify-content: space-evenly;
}